# enviaronment
WEB_ENV={{ local | dev | test | uat | prod }}

# server env
WEB_URL={{WEB_HOST_NAME}} # (Example "https://app.frontend.com")
SERV_URL={{SERV_HOST_NAME}} # (Example "https://app.backend.com")
HANDLE_REFRESH={{ ON | OFF}}
REDIS_HOST={{REDIS_HOST}}
REDIS_PORT={{REDIS_PORT}}
REDIS_SSL={{ ON | OFF}}
REDIS_USER={{REDIS_USER}}
REDIS_PASSWORD={{REDIS_PASSWORD}}
REDIX_PREFIX={{REDIX_PREFIX}}
TENANT_ID={{TENANT_ID}}
CREDENTIALS_KEY={{CREDENTIALS_KEY}}
CREDENTIALS_SECRET={{CREDENTIALS_SECRET}}
SECRET_jWE="{{32_CHARACTER_STRING}}" #Check "README"
SECRET_jWS="{{64_CHARACTER_STRING}}" #Check "README"
WEB_JWE_PRIVATE_KEY="{{WEB_JWE_PRIVATE_KEY}}" #Check "README"
WEB_JWE_PUBLIC_KEY="{{WEB_JWE_PUBLIC_KEY}}" #Check "README"
WEB_JWS_PRIVATE_KEY="{{WEB_JWS_PRIVATE_KEY}}" #Check "README"
WEB_JWS_PUBLIC_KEY="{{WEB_JWS_PUBLIC_KEY}}" #Check "README"
SERV_JWE_PRIVATE_KEY="{{SERV_JWE_PRIVATE_KEY}}" #Check "README"
SERV_JWE_PUBLIC_KEY="{{SERV_JWE_PUBLIC_KEY}}" #Check "README"
SERV_JWS_PRIVATE_KEY="{{SERV_JWS_PRIVATE_KEY}}" #Check "README"
SERV_JWS_PUBLIC_KEY="{{SERV_JWS_PUBLIC_KEY}}" #Check "README"

# client env
NEXT_PUBLIC_WEB_ENV=${WEB_ENV}
NEXT_PUBLIC_WEB_URL=${WEB_URL}
NEXT_PUBLIC_HANDLE_REFRESH=${HANDLE_REFRESH}
NEXT_PUBLIC_SECRET_jWE=${SECRET_jWE}
NEXT_PUBLIC_SECRET_jWS=${SECRET_jWS}
NEXT_PUBLIC_WEB_JWE_PUBLIC_KEY=${WEB_JWE_PUBLIC_KEY}
NEXT_PUBLIC_WEB_JWS_PUBLIC_KEY=${WEB_JWS_PUBLIC_KEY}
