# enviaronment
WEB_ENV={{ local | dev | test | uat | prod }}
HANDLE_REFRESH={{ ON | OFF}}

# server env only for local settings
WEB_URL={{WEB_URL}} # url for application access
SERV_URL={{SERV_URL}} # url for api access
TIMEZONE={{TIMEZONE}} # Time zone for logger and other services

# Cookie env only for local settings
COOKIE_EXPIRES={{COOKIE_EXPIRES}}

# Redis env only for local settings
REDIS_HOST={{REDIS_HOST}}
REDIS_PORT={{REDIS_PORT}}
REDIS_DB={{REDIS_DB}}
REDIS_SSL={{ ON | OFF}}
REDIS_USER={{REDIS_USER}}
REDIS_PASSWORD={{REDIS_PASSWORD}}

# session env only for local settings
SESS_EXP_TIME={{SESS_EXP_TIME}}

# public env
NEXT_PUBLIC_HANDLE_REFRESH=${HANDLE_REFRESH}
NEXT_PUBLIC_WEB_URL=${WEB_URL}