# enviaronment
WEB_ENV={{ local | dev | test | uat | prod }}

# server env
WEB_URL={{WEB_HOST_NAME}} # (Example "https://app.frontend.com")
SERV_URL={{SERV_HOST_NAME}} # (Example "https://app.backend.com")
HANDLE_REFRESH={{ ON | OFF}}
REDIS_HOST={{REDIS_HOST}}
REDIS_PORT={{REDIS_PORT}}
REDIS_SSL={{ ON | OFF}}
REDIS_USER={{REDIS_USER}}
REDIS_PASSWORD={{REDIS_PASSWORD}}
REDIX_PREFIX={{REDIX_PREFIX}}


# client env
NEXT_PUBLIC_WEB_ENV=${WEB_ENV}
NEXT_PUBLIC_WEB_URL=${WEB_URL}
NEXT_PUBLIC_HANDLE_REFRESH=${HANDLE_REFRESH}

